.itemcart-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    margin: 0 30px 30px 0;
    justify-content: space-between;

    border-bottom: 0.1px solid var(--color-black-click);
}

.itemcart-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemcart-titulo {
    margin: 0;
    font-size: 14px;
    width: 100%;
    height: 40px;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
}

.itemcart-header img {
    object-fit: contain;
    margin: 10px;
    width: 70px;
    height: 70px;
}

.itemcart-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.itemcart-detalhe {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.itemcart-button {
    background-color: rgb(254, 244, 242);
    color: var(--principal);

    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;

    padding: 10px;
    border: none;

    height: 40px;
    width: 40px;

    border-radius: 6px;

    transition-duration: 0.1s;
}

.itemcart-p,
.itemcart-amount {
    margin: 2px;
    color: var(--color-black);
    font-weight: bold;
    font-size: 12px;
}

.itemcart-input {
    background-color: var(--background);
    border: none;
    outline: none;
    border-radius: 6px;
    text-align: center;
    height: 24px;
    width: 60px;
}