---
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--color-black: rgb(0, 0, 0);
		--color-black-click: rgb(125, 125, 125);
		--principal: rgb(255, 255, 255);
		--background: rgb(243, 243, 243);

		--button-store: #4caf50;
		--button-store-click: #45a049;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--background);
	}
	
	code, a {
		text-decoration: none;
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}

	.gap-12 {
		gap: 12px;
	}

	.row {
		display: flex;
		flex-direction: row;
	}

	.col {
		display: flex;
		flex-direction: column;
	}
</style>
